/* About section */
.about .section-title img{
    width: 70px;
    height: 70px;
    margin-top: 50px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.about-content
{
    margin-top: 0;
    padding-top:0 ;
}
.about h2
{
    color:rgba(14, 173, 14,0.8);
}
/* End About section */